@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

.funny-btn {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 0px 10px #8400ff; /* Add a shadow and glow effect */
    border: none;
    background-color: #8400ff;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Comic Neue', cursive;
  }
  

  .funny-btn:hover {
    background-color: #8400ff;
    filter: brightness(120%);
    border-color: #8400ff;
    color: #fff;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 0px 10px #ff00ff;
    animation: bounce 0.5s;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  