.emailSection {
    background-image: url('../images/bgg.png'); /* Add the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f8f9fa; /* Fallback color */
    width: 100%;
    background-color: #333;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Add padding to the section */
}
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

.ttextt {
    font-size: 20px;
    font-family: 'Comic Neue', cursive;
    font-weight: 600;
  }
  

.email-form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;

  }
  
  .email-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
  }
  
  .form-input:focus {
    border-color: #007bff;
  }
  
  .submit-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  


/*nned to add a black shadow on the eamil form to trasnsition the section better
add the trasnslations
*/