@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.title5 {
  color: #000; /* Change title color to a vibrant tone */
  font-size: 3.5rem; /* Increase font size for emphasis */
  font-weight:bold;
  text-transform: uppercase;
  margin-bottom: 50px; /* Increase spacing below the title */
}


.carousel-title {
  text-align: center;
}


.carousel-caption {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(49, 49, 49, 0.8)); /* Darken the background color and add transparency */
  padding: 15px; /* Increase padding for better readability */
  border-radius: 15px; /* Increase border radius for a softer look */
}

.carousel-caption h3 {
  color: #fff; /* Keep caption title color white for visibility */
  font-size: 2rem; /* Increase caption title font size */
  font-weight: bold; /* Ensure caption titles are bold */
  margin-bottom: 15px; /* Add spacing below caption titles */
}

.carousel-caption p {
  color: #e6e6e6; /* Adjust caption text color for better readability */
  font-size: 1.3rem; /* Increase caption text font size */
  line-height: 1.5; /* Improve line spacing for better readability */
  padding-bottom: 10px;
}

.carousel-image {
  height: 600px; /* Adjust image height for better visual impact */
  object-fit: cover;
  border-radius: 15px; /* Increase border radius for a softer look */
 /* Add a subtle box shadow for depth */
}

.carousel-control-prev,
.carousel-control-next {
  width: 8%; /* Adjust control arrow width */
  border-radius: 50%; /* Make control arrows circular */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: #fff; /* Change control arrow color to white */
}

.carousel-indicators {
  bottom: 20px; /* Adjust position of carousel indicators */
}

.carousel-indicators li {
  background-color: rgba(255, 111, 97, 0.8); /* Use the same vibrant color for carousel indicators */
  width: 10px; /* Adjust width of carousel indicators */
  height: 10px; /* Adjust height of carousel indicators */
  margin-right: 5px; /* Add spacing between carousel indicators */
  margin-left: 5px;
}

.carousel-indicators .active {
  background-color: #fff; /* Change color of active carousel indicator to white */
}
