.section4 {
  background-color: #f8f9fa; /* Light gray background */
  width: 100%; /* Full width */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Light shadow */
  background-image: linear-gradient(135deg, #000000, #363636); /* Gradient background */
  color: #fff; /* White text color */
  position: relative;
}
  
.title4 {
  font-size: 66px; /* Increase font size */
  font-weight: bold; /* Make font bold */
  text-transform: uppercase; /* Uppercase heading */
  text-align: left; 
  line-height: 1; 
  font-family: 'Fredoka One', sans-serif; 
  color: rgb(6, 197, 197);
}
  
  .subtitle4 {
    color: #f8f9fa; /* Light text color */
    font-size: 24px; /* Font size */
    font-weight: bold; /* Font weight */
    margin-top: 10px; /* Top margin */
    text-align: left; 
  }
  .section4 {
    overflow: hidden; /* Hide overflowing content */
  }
  .phone-image4 {
    width: 35vh;
    border-radius:52px; /* Adjust the border-radius to match the curved edges of your image */
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.3); /* Start with red shadow */
    filter: brightness(1.6); 
    transition: filter 0.3s; /* Add transition for smooth effect */
    animation: shadow-color2 7s infinite alternate; /* Apply the animation */
  }
  
  .phone-image4:hover {
    filter: brightness(1.9); /* Increase brightness on hover */
  }
  .custom-background2 {
    background-image: url('../images/mysterious.png');
    background-size: cover;
    background-position: center;
  }
  
  @keyframes shadow-color2 {
    0% {
      box-shadow: 0 0 20px rgb(0, 128, 128); /* Start with a lighter teal blue shadow */
    }
    25% {
      box-shadow: 0 0 30px rgb(0, 100, 100); /* Decrease teal blue shadow intensity */
    }
    50% {
      box-shadow: 0 0 25px rgb(0, 139, 139); /* Transition to teal blue shadow */
    }
    75% {
      box-shadow: 0 0 35px rgb(0, 139, 139); /* Keep teal blue shadow intensity */
    }
    100% {
      box-shadow: 0 0 30px rgb(0, 206, 209); /* End with a lighter teal blue shadow */
    }
  }
  