.section2 {
  background-color: #f8f9fa; /* Light gray background */
  width: 100%; /* Full width */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Light shadow */
  background-image: linear-gradient(135deg, #000000, #313131); /* Gradient background */
  color: #fff; /* White text color */
}
  
.title2 {
  color: #f8f9fa; /* Hot pink heading */
  font-size: 66px; /* Increase font size */
  font-weight: bold; /* Make font bold */
  text-transform: uppercase; /* Uppercase heading */
  text-align: left; 
  line-height: 1; 
  font-family: 'Fredoka One', sans-serif; 
}
  
  .subtitle2 {
    color: #f8f9fa; /* Light text color */
    font-size: 24px; /* Font size */
    font-weight: bold; /* Font weight */
    margin-top: 10px; /* Top margin */
  }
  .section2 {
    overflow: hidden; /* Hide overflowing content */
  }
  