.section3 {
  background-color: #f8f9fa; /* Light gray background */
  width: 100%; /* Full width */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Light shadow */
  background-image: linear-gradient(135deg, #f0efef, #ececec); /* Gradient background */
  color: #fff; /* White text color */
  position: relative; /* Ensure relative positioning for pseudo-elements */

}

/* Add the shadow on top and bottom */
.section3::before {
  content: ''; /* Ensure the pseudo-elements have content */
  position: absolute; /* Position the pseudo-elements absolutely */
  left: 0;
  width: 100%;
  height: 10%; /* Adjust the height of the top shadow */
  z-index: 999; /* Set a high z-index to ensure the shadow overlays other components */
  background: linear-gradient(to bottom, rgba(95, 94, 94, 0.168) 0%, rgba(95, 94, 94, 0) 80%);/* Adjust the shadow color and opacity */
}

.section3::after {
  content: ''; /* Ensure the pseudo-elements have content */
  position: absolute; /* Position the pseudo-elements absolutely */
  left: 0;
  width: 100%;
  height: 15%; /* Adjust the height of the top shadow */
  z-index: 999;
  background: linear-gradient(to top, rgba(64, 64, 64, 0.214) 0%, rgba(143, 143, 143, 0) 100%);/* Adjust the shadow color and opacity */
}


.section3::before {
  top: 0; /* Position the shadow on top */
}

.section3::after {
  bottom: 0; /* Position the shadow on bottom */
}

/* Rest of the existing styles */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.title3 {
  color: #161616;
  font-size: 437x;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive; /* Apply the funny font */
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.p311 {
  font-family: 'Press Start 2P', cursive;
  font-size: 58px; /* Increase the font size */
  color: transparent; /* Make the text transparent */
  -webkit-text-stroke: 1px black; /* Add outline with black color */
  text-stroke: 1px black; /* Add outline with black color */
  text-align: center;
}

.p31 {
  padding-top: 20px;
  font-family: 'Indie Flower', cursive;
  color: #161616;
}


.pptt {
  padding-top: 60px;
}

.pptt2 {
  padding-top: 30px;
}
.ppbb{
  padding-bottom: 60px;
}
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px); /* Jump up */
  }
  100% {
    transform: translateY(0);
  }
}
.tis{
  font-size: 20px;
  text-align: center;
}