.section {
    background-color: #f8f9fa; /* Light gray background */
    width: 100%; /* Full width */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Light shadow */
    background-image: url('../images/hero1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    color: #fff; /* White text color */
    
    
  }
  
  .title {
    color: #f8f9fa; /* Hot pink heading */
    font-size: 66px; /* Increase font size */
    font-weight: bold; /* Make font bold */
    text-transform: uppercase; /* Uppercase heading */
    text-align: left; 
    line-height: 1; 
    font-family: 'Fredoka One', sans-serif; 
    color: #8400ff; 
    /* Initially, without hover, no glow effect */
}




  .subtitle {
    color: #f8f9fa; /* Light text color */
    font-size: 24px; /* Font size */
    font-weight: bold; /* Font weight */
    margin-top: 10px; /* Top margin */
    text-align: left; 
  }
  

  .custom-navbar {
    background-color: transparent !important;
  }
  
  .phone-image {
    width: 35vh;
    border-radius: 59px; /* Adjust the border-radius to match the curved edges of your image */
    box-shadow: 0 0 30px rgba(128, 0, 128, 0.3); /* Apply the initial box-shadow with a purple color */
    transition: box-shadow 0.3s, filter 0.3s; /* Add transition for smooth effect */
  }
  


@keyframes glow {
    from {
        text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #8400ff, 0 0 12px #8400ff, 0 0 15px #8400ff, 0 0 18px #8400ff, 0 0 21px #8400ff;
    }
    
    to {
        text-shadow: 0 0 6px #fff, 0 0 9px #d462ff, 0 0 12px #d462ff, 0 0 15px #d462ff, 0 0 18px #d462ff, 0 0 21px #d462ff, 0 0 24px #d462ff;
    }
}

/* Other styles */
.phone-image:hover {
    box-shadow: 0 0 50px rgba(255, 0, 255, 1); /* Change the shadow to a glow effect on hover */
    filter: brightness(1.2); /* Increase brightness on hover */
    animation: bounce 0.5s;
}
.phone-image:hover ~ .left-column .title {
  animation: glow 1s ease-in-out infinite alternate;
}
  /* section1.css */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInLeft 1s forwards;
}

.slide-in-right {
  animation: slideInRight 1s forwards;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.glow {
  animation: glow 4s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3), 0 0 2px rgba(255, 255, 255, 0.3), 0 0 3px rgba(132, 0, 255, 0.3), 0 0 4px rgba(132, 0, 255, 0.3), 0 0 5px rgba(132, 0, 255, 0.3), 0 0 6px rgba(132, 0, 255, 0.3), 0 0 7px rgba(132, 0, 255, 0.3);
  }
  
  25% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.3), 0 0 3px rgba(212, 98, 255, 0.3), 0 0 4px rgba(212, 98, 255, 0.3), 0 0 5px rgba(212, 98, 255, 0.3), 0 0 6px rgba(212, 98, 255, 0.3), 0 0 7px rgba(212, 98, 255, 0.3), 0 0 8px rgba(212, 98, 255, 0.3);
  }

  50% {
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 4px rgba(255, 255, 255, 0.3), 0 0 5px rgba(132, 0, 255, 0.3), 0 0 6px rgba(132, 0, 255, 0.3), 0 0 7px rgba(132, 0, 255, 0.3), 0 0 8px rgba(132, 0, 255, 0.3), 0 0 9px rgba(132, 0, 255, 0.3);
  }

  75% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.3), 0 0 3px rgba(212, 98, 255, 0.3), 0 0 4px rgba(212, 98, 255, 0.3), 0 0 5px rgba(212, 98, 255, 0.3), 0 0 6px rgba(212, 98, 255, 0.3), 0 0 7px rgba(212, 98, 255, 0.3), 0 0 8px rgba(212, 98, 255, 0.3);
  }

  100% {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3), 0 0 2px rgba(255, 255, 255, 0.3), 0 0 3px rgba(132, 0, 255, 0.3), 0 0 4px rgba(132, 0, 255, 0.3), 0 0 5px rgba(132, 0, 255, 0.3), 0 0 6px rgba(132, 0, 255, 0.3), 0 0 7px rgba(132, 0, 255, 0.3);
  }
}



.fwb{
  font-weight: bold;
}


.custom-modal {
  background-color: rgba(160, 32, 240, 0.025); /* Neon purple background color */
  color: #fff; /* Text color */
}

.custom-modal .modal-header {
  border-bottom: none; /* Remove bottom border */
}

.custom-modal .modal-title {
  color: #000000; /* Title text color */
}

.custom-modal .modal-body {
  color: #000000; /* Body text color */
}

.custom-modal .modal-footer {
  border-top: none; /* Remove top border */
}

.custom-modal .btn-danger {
  background-color: #a100f8; /* Neon purple button background color */
  border-color: #ff00ff; /* Neon purple button border color */
  color: #fff; /* Button text color */
}

.custom-modal .btn-danger:hover {
  background-color: #cc00cc; /* Darker neon purple on hover */
  border-color: #cc00cc; /* Darker neon purple border color on hover */
}


.language-slider {
  position: fixed;
  z-index: 10;
  bottom:10px;
  right: 10px; 
}

.flag-link {
  margin-right: 10px;
}

.flag-link img {
  width: 50px; /* Adjust the size as needed */
  height: auto;
  transition: transform 0.3s ease; /* Add transition for smooth effect */
  border: #a100f8;
  box-shadow: #cc00cc;
}

.flag-link img:hover {
  opacity: 0.8; /* Optional: Reduce opacity on hover for a visual indication */
  transform: scale(1.2); /* Scale up on hover */
}