.lamp {
    margin: 0 auto;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center top;
    animation-timing-function: cubic-bezier(0.6, 0, 0.38, 1);
    animation: move 6.1s infinite;
}

@keyframes move {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(-80deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}



.cover {
  width: 80px;
  height: 100px;
  background: #7a7a7a; /* Neo pink color */
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  position: relative;
  z-index: 200;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5), 
              0px 0px 10px 10px rgba(0, 0, 0, 0.3) inset; /* Outer and inner shadow */
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 50%, transparent 50%),
                    linear-gradient(135deg, rgba(0, 0, 0, 0.2) 50%, transparent 50%); /* Diagonal gradients */
  background-size: 100% 100%;
  background-position: 0 0, 0 0;
}

.in-cover {
    width: 50px;
    max-width: 200px;
    height: 40px;
    border-radius: 100%;
    background: #3b3b3b; /* Neo pink color */
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -9px;
    z-index: 100;
}

.in-cover .bulb {
    width: 80px;
    height: 50px;
    background-color: #f535aa; /* Neo pink color */
    border-radius: 50%;
    position: absolute;
    left: -14px;
    right: 0;
    bottom: -20px;
    margin: 0 auto;
    box-shadow: 0 0 15px 7px rgba(245, 53, 170, 0.8), 0 0 40px 25px rgba(245, 53, 170, 0.5), 0px 0 30px 15px rgba(245, 53, 170, 0.2);
    animation: blinker infinite;
}

.light {
    width: 50px;
    height: 300vh;
    background-color: rgba(245, 53, 170, 0.24); /* Neo pink color with alpha */
    position: fixed;
    top: 50px;
    z-index: -1;
    border-radius: 0;
    animation: blinker infinite;
}

@keyframes blinker {
    45% {
        opacity: 0;
    }
}

@keyframes blinkerr {
    50% {
        background-color: #f535aa; /* Neo pink color */
        box-shadow: 0 0 15px 7px rgba(245, 53, 170, 0.8), 0 0 40px 25px rgba(245, 53, 170, 0.5), -75px 0 30px 15px rgba(245, 53, 170, 0.2);
    }
}

@keyframes spotlight-enter-from-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes spotlight-enter-from-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .spotlight-animation {
    animation: spotlight-enter-from-left 0.5s ease-in-out forwards;
  }
  
  .spotlight-animation:nth-child(even) {
    animation: spotlight-enter-from-right 0.5s ease-in-out forwards;
  }
  